<!-- twccapp/templates/twccapp/footer.html -->
{% load static %}
<footer class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <img src="{% static 'twccapp/images/logo.png' %}" alt="TWCC Logo" height="40" class="mb-3">
                <p class="text-white">Empowering Women in Business and Trade across Tanzania through advocacy, capacity building and networking.</p>
                <div class="social-icons">
                    <a href="https://www.instagram.com/tzwomenchamber_twcc/?hl=en" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/tzwomenchamber_twcc/?hl=en" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/tzwomenchamber_twcc/?hl=en" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.instagram.com/tzwomenchamber_twcc/?hl=en" class="text-white"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-white mb-4">Quick Links</h5>
                <ul class="list-unstyled">
                    <li class="mb-2"><a href="{% url 'index' %}" class="text-white text-decoration-none">Home</a></li>
                    <li class="mb-2"><a href="{% url 'about' %}" class="text-white text-decoration-none">About Us</a></li>
                    <li class="mb-2"><a href="{% url 'services' %}" class="text-white text-decoration-none">Services</a></li>
                    <li class="mb-2"><a href="{% url 'news' %}" class="text-white text-decoration-none">News</a></li>
                    <li class="mb-2"><a href="{% url 'faqs' %}" class="text-white text-decoration-none">FAQs</a></li>
                    <li class="mb-2"><a href="{% url 'contact' %}" class="text-white text-decoration-none">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-white mb-4">Contact Us</h5>
                <ul class="list-unstyled text-white">
                    <li class="mb-2"><i class="fas fa-map-marker-alt me-2"></i> Oasis Office park-Ground floor, P.O. Box 5591, Haille sellasie road, Dar es Salaam</li>
                    <li class="mb-2"><i class="fas fa-phone me-2"></i> +255 757 823 982</li>
                    <li class="mb-2"><i class="fas fa-envelope me-2"></i> info@twcc-tz.org</li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-white mb-4">Newsletter</h5>
                <p class="text-white">Subscribe to our newsletter for the latest updates.</p>
                
                <a href="{% url 'subscribe' %}">
                    <button class="btn btn-primary" type="submit">Subscribe</button>
                </a> 
            
            </div>
        <hr class="my-4 bg-light">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="text-white mb-0">© 2025 Tanzania Women Chamber of Commerce. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="text-white mb-0">Designed with <i class="fas fa-heart text-danger"></i> for Tanzanian Women</p>
            </div>
        </div>
    </div>
</footer>