{% extends 'twccapp/base.html' %}
{% load static %}

{% block title %}{{ services_item.title }} - TWCC{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <article>
                    <h1 class="mb-4">{{ services_item.title }}</h1>
                    
                    <div class="mb-4 text-muted">
                        <span>Posted on {{ services_item.date_posted|date:"F j, Y" }}</span>
                        {% if services_item.author %}
                        <span class="mx-2">|</span>
                        <span>By {{ services_item.author.get_full_name }}</span>
                        {% endif %}
                    </div>
                    
                    {% if services_item.image %}
                    <img src="{{ services_item.image.url }}" alt="{{ services_item.title }}" class="img-fluid mb-4 rounded">
                    {% endif %}
                    
                    <div class="services-content">
                        {{ services_item.content|linebreaks }}
                    </div>
                    
                    <div class="mt-5">
                        <a href="{% url 'services' %}" class="btn btn-outline-primary">
                            <i class="fas fa-arrow-left me-2"></i>Back to services
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}